<h3><%= @workshop.title %></h3>
<% if @workshop.user %>
  <strong>Hosted by: <%= link_to @workshop.user.first_name, @workshop.user %></strong>
<% end %>
<p><%= @workshop.description %></p>
<div id="interests">
  <h5>Styles</h5>
  <hr>
  <% if @interests %>
    <% @interests.each do |interest| %>
      <%= link_to interest.name, interest %><br>
    <% end %>
  <% end %>
</div>