.container
  = render 'shared/light_nav'
  .container.p-y-40
    %div{style: "background-color: #f3f3f3; border-radius: 10px; margin: 0 auto; padding: 50px; width: 80%;"}
      .row
        .col-xs-12.text-center#new-media
          %h1 Submit Payment
          %h2 $11.00
      .row.p-top-40
        .col-xs-12.col-md-6.col-md-offset-3
          %h4 Thank you for registering! 
          %p You successfully paid $11.00