<form accept-charset="UTF-8" action="/checkout/create" method="post">
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_OuHZQeZDbJqSLfxuNjyWLz98"
          data-description="A month's subscription"
          data-amount="500"></script>
</form>