#tags a, #user-data, #user-data a {
  color: #777777;
  //color: #474747;
  font-size: 13px;
  font-weight: normal; 
}

#tags a {
  font-family: 'Cabin', sans-serif;
  font-style: italic; 
}

.thumbnail .caption a:hover,
#tags a:hover,
#user-data a:hover {
  color: #38bdb8;
}

#tags {
  line-height: 1;
}

.smallsize {
  width: 150px;
}

.fullsize {
  width: 500px;
}