<!-- Heading -->
<%= render "shared/user_heading" %>

<!-- Menubar -->
<%= render "shared/user_menubar" %>

<!-- Body -->
<div id="masonry-container" class="js-masonry" data-masonry-options='{ "isFitWidth": true }'>
  <% @followers.each do |follower| %>
    <div class="thumbnail smallsize clearfix">
      <% if follower.avatar.exists? %>
        <%= image_tag follower.avatar.url(:small) %>
      <% end %>
      <div class="caption">
        <%= link_to "#{follower.first_name} #{follower.last_name}", user_path(follower) %><br>
      </div>
    </div>
  <% end %>
</div>