.notification-header.text-center
  Notifications
  .badge= @notifications.try(:length)
- if @notifications.blank?
  %li.notification-item No notifications yet!
-else
- @notifications.each do |notification|
  %li.notification-item
    %span= notification.message
    = link_to("mark as read", notification_path(id: notification, read: true), method: :put, remote: true, class: "notification-read")
