<div class="statbar container">
  <div class="row">
    <div class="col-sm-4">
      <% if @user.avatar.exists? %>
        <%= image_tag(@user.avatar.url(:medium)) %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <div class="heading">
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </div>
      <div class="subheading">
        <%= @user.description %>
      </div>
    </div>
  </div>
</div>