<div class="container-917 user-projects-empty">
  <p class="h4 user-projects-empty-text"> Start a reel to populate your profile! </p>
  <div class="centered-button">
    <%= render "shared/create_reel_button" %>
  </div>
</div>