<div class="container-917 user-projects-empty">
  <p class="h4 user-projects-empty-text"> Create projects to populate your profile. </p>
  <div class="centered-button">
    <%= render "shared/create_project_button" %>
  </div>
</div>