// Border Box
////////////////////////////////////////////////////////////////////////////////

*, *:before, *:after {
  @include box-sizing(border-box);
}

// HTML
////////////////////////////////////////////////////////////////////////////////

html {
  font-size: 16px;
}

// Keep footer at bottom of page
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
