// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif:        'Open Sans', Arial, sans-serif;
$museo-sans:        'MuseoSans-500', Arial, sans-serif;
$museo-sans-italic: 'MuseoSans-500Italic', Arial, sans-serif;

$base-font-family: $sans-serif;
$header-font-family: $museo-sans;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.3;
$base-border-radius: 3px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$white:    #fff;
$red:      #ff3046;
$turq:     #0fb3ad;
$lt-turq:  #1cd9d2;
$drk-gray: #2b3a35;
$med-gray: #aaaaaa;
$gray:     #cccccc;
$lt-gray:  #f3f3f3;

// Font Colors
$base-font-color: $drk-gray;
$base-accent-color: $turq;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $lt-turq;