= render 'shared/nav'
.reel-page.reel-page-landing
  .container
    .hero
      .content-container.interest-header
        %h1
          Featured Reels
        %small Awesome stuff, hand-picked by our staff!
.reel-page
  .content.p-top-10
    .tab-content
      .content-container.m-top-20
        - Reel.featured.each do |reel|
          =render :partial => 'shared/teaser', :locals => {:reel => reel}
      .jumbotron.bottom-jumbotron-cta-cover.text-center
        %h2
          Start by sharing a passion!
        Add stories, videos, & images of the things you love to do.
        %br
        Share your journey with friends.
        %br
        = link_to new_reel_path do
          .teaser
            %i.fa.fa-plus
            %br
            %h4
              Start Reel
      .container.text-center.reel-cta-footer
        %h3
          Or discover reels from our passion topics
        - interest = Interest.all
        %ul.list-inline
          - interest.each do |interest|
            %li= link_to interest.name, "/interests/#{interest.id}"
