.cover-bg
.cover-overlay.text-center
  .cover-logo
  .cover-carousel.text-center
    .cover-carousel-slide-1
      .cover-carousel-header
        %h2.m-top-80 John Tso uses Evrystep to share the creative process behind his web comic
        %p.m-top-30 Join Evrystep to document & share your passion.
        =link_to user_omniauth_authorize_path(:google_oauth2) do
          .btn.btn-primary.m-top-30 Sign In
    .cover-carousel-slide-2
      .cover-carousel-header
        %h2.m-top-80 John Tso uses Evrystep to share the creative process behind his web comic
        %p.m-top-30 Join Evrystep to document & share your passion.
        =link_to user_omniauth_authorize_path(:google_oauth2) do
          .btn.btn-primary.m-top-30 Sign In
    .cover-carousel-slide-3
      .cover-carousel-header
        %h2.m-top-80 John Tso uses Evrystep to share the creative process behind his web comic
        %p.m-top-30 Join Evrystep to document & share your passion.
        =link_to user_omniauth_authorize_path(:google_oauth2) do
          .btn.btn-primary.m-top-30 Sign In
    .cover-carousel-slide-4
      .cover-carousel-header
        %h2.m-top-80 John Tso uses Evrystep to share the creative process behind his web comic
        %p.m-top-30 Join Evrystep to document & share your passion.
        =link_to user_omniauth_authorize_path(:google_oauth2) do
          .btn.btn-primary.m-top-30 Sign In
