.cover-bg
.cover-overlay.text-center
  .cover-logo
  .cover-carousel.text-center
    .cover-carousel-slide-1
      .cover-carousel-header
        %h3 John Tso uses Evrystep to share the creative process behind his web comic.
        -if current_user
          -# %p.m-top-30 Start your journey today!
          =link_to "/users/20" do
            .btn.btn-primary.m-top-30 John Tso
    .cover-carousel-slide-2
      .cover-carousel-header
        %h3 Huy Ha uses Evrystep to track his martials arts and dance journeys.
        -if current_user
          -# %p.m-top-30 Start your journey today!
          =link_to "/users/23" do
            .btn.btn-primary.m-top-30 Huy Ha
    .cover-carousel-slide-3
      .cover-carousel-header
        %h3 Gary Fabian uses Evrystep to organize & share teachings on creativity.
        -if current_user
          -# %p.m-top-30 Start your journey today!
          =link_to "/users/74" do
            .btn.btn-primary.m-top-30 Gary Fabian
  -unless current_user
    %p.m-top-30.cover-cta-text Join Evrystep to document & share your passion.
    =link_to user_omniauth_authorize_path(:google_oauth2) do
      .btn.btn-primary.cover-cta.m-top-30 Sign In
