<button type="button" class="btn btn-danger navbar-btn">
  <%= link_to new_project_path, :method => :get, :class=>"no-underline" do %>
    <span class="glyphicon glyphicon-plus"></span>   Create Project
  <% end %>
</button>