<%= button_to "Create Reel", new_reel_path, :method => :get, :class => 'btn navbar-btn btn-danger btn-large' %>

<!-- <button type="button" class="btn navbar-btn btn-danger btn-large">
  <%#= link_to new_project_path, :method => :get, :class=>"no-underline" do %>
     <bold><span class="glyphicon glyphicon-record"></span></bold>  Create Project
  <%# end %>
</button> -->