<%= form_for(@email_contact, :html => { :class => "form-inline"} ) do |f| %>
  <!-- <div class="field"> -->
  <%= f.text_field :email, class: "input-lg", style: "vertical-align: middle", placeholder: "email" %>
  <!-- </div> -->
  <!-- <div class="actions"> -->
  <%= f.submit "Join launch list", class: "btn btn-danger btn-lg" %>
  <!-- </div> -->
<% end %>