= form_for :email_contact, class: "form-inline" do |f|
  = f.text_field :email, class: "input-lg launch-input", style: "vertical-align: middle", placeholder: "email"
  = f.submit "Join launch list", class: "btn btn-danger btn-lg"