.row.text-center
  .col-xs-12
    %h1 Featured Reels
- Reel.featured.each do |reel|
  .row.p-top-20
    .col-xs-12
    %h3= reel.name
    %ul.list-inline
      - reel.interests.each do |interest|
        %li
          = link_to(interest.name, "/interests/#{interest.id}/about")
  .row.p-top-20.text-center
    .col-xs-12
      %div.reel-carousel
        = render partial: 'shared/reel', locals: { reel: reel }
