.row.text-center
  .col-xs-12
    %h1 Featured Reels
- 3.times do
  .row.p-top-20
    .col-xs-12
      -# APRIL: Hook up to reel names and tags
      %h3 Performing with Dynamix
      %ul.list-inline
        %li
          %a Dance
        %li.divider
        %li
          %a Health &amp; Fitness
  .row.p-top-20.text-center
    .col-xs-12
      %div.reel-carousel
        -# APRIL: Hook up reel images and titles to carousel
        - 3.times do
          %div.m-20
            %a
              %img{src: "http://trailerpilot.files.wordpress.com/2012/07/thodos-dance-chicago-2012-new-dances-9.jpg", width: "100%"}
              %h4.p-top-15 Video Title Here
