.featured-event.clearfix
  .overlay 
    %h1.title 
      Featured Event
    = image_tag('event_landing_details.png', class: 'info')
    = link_to 'Register', '/events/1/registrations/new', class: 'btn btn-default'