<div class="evrystep-alert-wrapper">
  <% flash.each do |type, message| %>
    <% if !message.blank? %>
      <div class="evrystep-alert-box">
        <button class="close m-left-20" data-dismiss="alert">x</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>