.grid-container
  .row-fluid.grid.clearfix
    %ul.grid-list.list-inline#lightgallery.clearfix
      - if current_user && current_user.id == @user.id
        %li.media.m-bottom-20
          = link_to pages_select_media_path(reel: @reel) do
            .new-grid-item
              .icon=image_tag "lt-turq_add.png", style: 'width: 50px'
              %h4 Add Media
      - @media.each do |medium|
        - if medium.is_a? Image
          = render 'shared/grid_image', medium: medium
        - if medium.is_a? Video
          = render 'shared/grid_video', medium: medium
        - if medium.is_a? Story
          = render 'shared/grid_story', medium: medium
