.grid-item-footer
  %ul.list-inline
    %li
      %a.media-share{href: "#", "data-toggle" => "modal", "data-target" => "#share-modal"}
        =image_tag('share_icon.png')
    %li
      =image_tag('props_icon.png')
    %li
      =image_tag('comment_icon.png')
    %li
      =image_tag('pencil_icon.png')