.bgc-lt-gray.p-y-20
  .container.how-it-works-cont-padding
    .row.text-center
      %h2.p-bottom-40 Dream big and do what you love.
    .row
      .col-xs-12.col-sm-4
        .container.bgc-white.tile
          =image_tag "lightbulb_icon.jpg", :width => "75px"
          %h2.c-turq.upper-h2 Get Inspired
          %h3.p-top-15 Discover people who share the same passions as you and see what they've been up to lately.
      .col-xs-12.col-sm-4
        .container.bgc-white.tile
          =image_tag "reel_icon.jpg", :width => "75px"
          %h2.c-turq.upper-h2 Create Your Portfolio
          %h3.p-top-15 Create reels of videos, images, and stories to showcase what you do.
      .col-xs-12.col-sm-4
        .container.bgc-white.tile
          =image_tag "magnifying_icon.jpg", :width => "75px"
          %h2.c-turq.upper-h2 Discover Opportunities
          %h3.p-top-15 Find your big break on Evrystep. Access opportunities to perform or showcase your work.
