.bgc-lt-gray.p-y-20
  .container.how-it-works-cont-padding
    .row.text-center
      %h2.p-bottom-40.c-lt-turq Dream big and do what you love.
    .row
      .col-xs-12.col-sm-4
        .bgc-white.tile
          =image_tag "lightbulb_icon.jpg", :width => "75px"
          %h2.c-turq.h2 Get Inspired
          %h3.p-top-15 Discover people who share the same passions as you and see what they've been up to lately.
      .col-xs-12.col-sm-4
        .bgc-white.tile
          =image_tag "reel_icon.jpg", :width => "75px"
          %h2.c-turq.h2 Create Your Portfolio
          %h3.p-top-15 Create reels of videos, images, and stories to showcase what you do.
      .col-xs-12.col-sm-4
        .bgc-white.tile
          =image_tag "magnifying_icon.jpg", :width => "75px"
          %h2.c-turq.h2 Discover Opportunities
          %h3.p-top-15 Find your big break on Evrystep. Access opportunities to perform or showcase your work.

/ .row.text-center
/   .col-xs-12
/     %h1 How It Works
/ .container.cont-padding
/   .row
/     .col-xs-12.col-sm-6
/       %h2 Discover Inspiration
/       %h3.c-med-gray.p-top-15 Discover people who share the same passions as you and see what they've been up to lately.
/     .col-xs-12.col-sm-6
/       %img{src: "http://www.newyorker.com/wp-content/uploads/2013/07/Pilobolus-dance.jpg", width: "100%"}
/   .row
/     .col-xs-12
/       %hr.m-y-50
/ .container.p-y-40
/   .row
/     .col-xs-12.col-sm-6
/       %img{src: "http://www.newyorker.com/wp-content/uploads/2013/07/Pilobolus-dance.jpg", width: "100%"}
/     .col-sm-6.text-right
/       %h2 Share Your Work
/       %h3.c-med-gray.p-top-15 Upload images and videos that showcase what you do.
/   .row
/     .col-xs-12
/       %hr.m-y-50
/ .container.p-bottom-60
/   .row
/   .col-xs-12.col-sm-6
/     %h2 Publish the Best
/     %h3.c-med-gray.p-top-15 Organize your work into thematic or strategic reels.
/   .col-sm-6
/     %img{src: "http://www.newyorker.com/wp-content/uploads/2013/07/Pilobolus-dance.jpg", width: "100%"}
