.container.cont-padding
  .row
    .col-xs-12.col-sm-6
      %h1 Discover Inspiration
      %h3.c-med-gray.p-top-15 Discover people who share the same passions as you and see what they've been up to lately.
    .col-xs-12.col-sm-6
      %img{src: "http://www.newyorker.com/wp-content/uploads/2013/07/Pilobolus-dance.jpg", width: "100%"}
  .row
    .col-xs-12
      %hr.m-y-50
.container.p-y-40
  .row
    .col-xs-12.col-sm-6
      %img{src: "http://www.newyorker.com/wp-content/uploads/2013/07/Pilobolus-dance.jpg", width: "100%"}
    .col-sm-6.ta-right
      %h1 Share Your Work
      %h3.c-med-gray.p-top-15 Upload images and videos that showcase what you do.
  .row
    .col-xs-12
      %hr.m-y-50
.container.p-bottom-60
  .row
  .col-xs-12.col-sm-6
    %h1 Publish the Best
    %h3.c-med-gray.p-top-15 Organize your work into thematic or strategic reels.
  .col-sm-6
    %img{src: "http://www.newyorker.com/wp-content/uploads/2013/07/Pilobolus-dance.jpg", width: "100%"}