.interest-grid.clearfix
  .interest-tile.art
    .overlay
    %h2.title 
      Art
  .interest-tile.dance
    .overlay
    %h2.title 
      Dance
  .interest-tile.beauty
    .overlay
    %h2.title 
      Beauty
  .interest-tile.film
    .overlay
    %h2.title 
      Film
  .interest-tile.last.more
    .overlay
    %h2.title 
      More