#share-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %i.fa.fa-share-alt
        Share!
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        %h2#share-title= @reel.name
        %img#modal-share-image
        %br
        URL
        %input#share-url{ :type => 'text', :value => request.original_url, :style => "width: 250px;"}
        %br
        %p
        Or share on Facebook or Twitter!
        %ul.list-inline.social-list
          %li
            %a.modal-share-button.modal-facebook-share{:href => "#", target: "_blank"}
              %i.fa.fa-facebook.social-media-icons
          %li
            %a.modal-share-button.modal-twitter-share{:href => "#"}
              %i.fa.fa-twitter.social-media-icons
