#share-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4 Share Media
      .modal-body
        %h4 Select one:
        %ul.list-inline.social-list
          %li
            =image_tag('icon-facebook.png')
          %li
            =image_tag('icon-twitter.png')