<div id="masonry-container" class="js-masonry" data-masonry-options='{ "isFitWidth": true }'>
    <div class="thumbnail clearfix">
      <% if @project.cover.exists? %>
        <%= link_to image_tag(@project.cover.url(:medium)), project_path(@project) %>
      <% end %>
      <div class="caption">
        <% if @project.name.present? %>
          <%= link_to @project.name, project_path(@project) %><br>
        <% end %>
        <div id="user-data">
          <% if @project.user.present? %>
            by <%= link_to "#{@project.user.first_name} #{@project.user.last_name}", user_path(@project.user) %>
            <%# if current_user.id == project.user.id %>
              <%#= link_to "edit project", edit_project_path(project) %>
              <%#= link_to "delete project", project_path(project), method: :delete %>
            <%# end %>
          <% end %>
        </div>
        <div id="tags">
          <% @project.interests.each do |interest| %>
            <%= link_to interest.name, interest_path(interest) %>
          <% end %>
          <%# project.activities.each do |activity| %>
            <%#= link_to activity.name, activity_path(activity) %>
          <%# end %>
        </div>
      </div>
    </div>

  <!-- Need to put else statements? -->
</div>