- reel.reel_media.each do |media|
  - if media.is_a? Image
    %div.m-20
      %a
        = link_to(image_tag(media.photo.url, width: "100%"), reel)
        %h4.p-top-15= media.description
  - else # Video
    %div.m-20
      %a
        %iframe.youtube-player{type: "text/html", width: "450", height: "296", src: "http://www.youtube.com/embed/#{media.uid}?modestbranding=1&showinfo=0&theme=light&autohide=1&rel=0", "allowfullscreen" => true, "frameborder" => 0}
        %h4.p-top-15= media.description