<div class="clearix avatarbar">
  <% if @user.avatar.exists? %>
    <%= image_tag(@user.avatar.url(:small), :class => "avatar") %>
  <% end %>
  <p class="heading username"><%= link_to "#{@user.first_name} #{@user.last_name}", user_path %></p>
  <p class="subheading user-tagline"><%= @user.description %></p>
  
  <p class="fav-categories">
  <% @user.categories.sort_by { |interest_id, projects| projects.count }.reverse.each do |interest_id, projects| %>
  <%#= "#{Interest.find_by_id(interest_id).name} - #{pluralize(projects.count, "project")}" %>
  <%= link_to "#{Interest.find_by_id(interest_id).name}", interest_path(interest_id) %>
  <% end %>
  <br>San Lorenzo, CA | USA</p>
</div>