.container
  .row
    .col-xs-12.text-center
      =image_tag "evrystep_logo.png", :width => "285px"
      %h3.c-med-gray.p-top-15.p-x-70 Evrystep is a social media platform that helps you create a portfolio for what you're passionate about, whether it's dance, art, sports, or something else. 
    / .col-xs-6
    /   %h2 Join us at Evolution 2
    /   =image_tag "evolution.png", :width => "80%"