.about-evrystep
  .container
    .row
      .col-xs-12.text-center
        =image_tag "evrystep_logo.png", :width => "285px"
        %h3.info.c-med-gray Evrystep is a social media platform that helps you create a portfolio for what you're passionate about, including dance, art, sports, and more. 
      / .col-xs-6
      /   %h2 Join us at Evolution 2
      /   =image_tag "evolution.png", :width => "80%"