.about-evrystep
  =image_tag "evrystep_logo.png", :width => "285px"
  %h3.c-med-gray Evrystep is a networking platform that helps you cultivate your passions, including dance, art, sports, and more. 
/ .col-xs-6
/   %h2 Join us at Evolution 2
/   =image_tag "evolution.png", :width => "80%"