<!-- Heading --> 
<div id="how-it-works" class="welcome container-917">
  <div id="mission">
    <div class="heading username">
      Our mission
    </div>
    <p>Founded in September 2013 and based in the Bay Area, Evrystep is a social network that allows people to create projects, discover inspiration, and connect with others based on shared interests.</p>
    <!--Evrystep is a social network that connects artists and athletes through shared interests.-->
    <p>Mission: We believe that every individual should pursue his or her passion, whether it's dance, sports, or any other interest.</p>
  </div>
  <div id="team">
    <div class="heading username">
      Founders
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail photo-thumbnail">
          <%= image_tag("evrystep_team_priya_1.jpg", :class => "") %>
          <div class="">
            <h3>Priya Jhingan</h3>
            <h4>Founder & CEO</h4>
            <p class="text-justify">Striving to create something that would inspire passionate people to achieve their dreams, Priya founded Evrystep in 2013. She brings 8 years of startup experience in Product Management, Operations Management, and Engineering to Evrystep. Driven by a passion for the arts, sports, and creativity, Priya leads Evrystep's vision, strategy, and growth. She also leads technical and product development, ensuring that Evrystep is continuously developed to be in line with the company's overarching mission. Priya has many hobbies, including dancing, drawing, and snowboarding. She graduated from Stanford University in 2006 with a degree in Product Design and Math. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail photo-thumbnail">
          <%= image_tag("evrystep_team_pam.jpg", :class => "") %>
          <div class="body">
            <h3>Pamela Hughes</h3>
            <h4>Co-founder & Community Manager</h4>
            <p class="text-justify">While Pam contributes to all aspects of the business, her main focus at Evrystep is Community and Brand Management. Pam's passion for the product and strong ties to the community help bring vital feedback to the product development cycle. She also leads brand awareness strategy, aiming to ultimately turn Evrystep into an international brand recognized by artists and athletes worldwide. Also passionate about community outreach and the arts, Pam is part of a non-profit organization called All The Way Live, was captain of her dance team in 2013, and was also a member of the student government at Ohlone College. She’s currently studying Communications and Advertising.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>