<!-- Heading --> 
<div id="how-it-works" class="welcome container-917">
  <div id="mission">
    <div class="heading username">
      Our mission
    </div>
    <p>Founded in September 2013 and based in the Bay Area, Evrystep is a social network that allows people to create projects, discover inspiration, and connect with others based on shared interests.</p>
    <!--Evrystep is a social network that connects artists and athletes through shared interests.-->
    <p>Our mission: We believe that every individual should pursue his or her passion, whether it's dance, sports, or any other interest.</p>
  </div>
  <div id="team">
    <div class="heading username">
      Meet the team
    </div>
    <%= image_tag("evrystep_team_priya_1.jpg", :class => "") %>
    <%= image_tag("evrystep_team_priya_1.jpg", :class => "") %>
    <%= image_tag("evrystep_team_priya_1.jpg", :class => "") %>
  </div>
</div>