.hero-image.about
  = render 'shared/nav'
  .container.p-y-100.text-center
    .row
      .col-lg-12.c-white
        %h1.hero-text.p-bottom-5 "If you have the courage to pursue your passion... anything is possible."
        %h5 - Susan Dintino
= render 'shared/tag_nav'
.container.p-y-60.text-center
  .row
    .col-xs-12
      %h1 What is Evrystep?
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2
      %h4.c-med-gray.p-top-30 Evrystep is a social media platform that lets you create beautiful portfolios for dance, music, art, sports, and more.
      %h4.c-med-gray.p-top-15 We were founded in September 2013 by Priya Jhingan and Pamela Hughes.
%hr.p-y-40
= render 'shared/how_it_works'
%hr.p-y-40
.container.p-bottom-40
  = render 'shared/featured_reels'