 <%# if user_signed_in? %>
  <!-- <h1>Activity</h1>
<%# else %>
  <p>sign up</p> -->
<%# end %>

<!-- Heading -->
<div class="heading">
  All Posts
</div>

<!-- All Posts -->
<%= render "shared/posts" %>


