 <% if user_signed_in? %>
  <h1>Activity</h1>
<% else %>
  <p>sign up</p>
<% end %>

<% @workshops.each do |workshop|%>
  <div class="well">
  <%= link_to "#{workshop.user.first_name} #{workshop.user.last_name}", workshop.user %> is hosting a workshop: <br>
  <%= link_to workshop.title, workshop %><br>
  Styles: 
  <% workshop.interests.all.each do |interest| %>
    <%= link_to interest.name, interest %>
  <% end %>
  </div>
<% end %>