.hero-image.landing
  .hero
    = render 'shared/nav'
    .container.p-y-80.ta-center
      .row
        .col-lg-12.c-white
          %h1.p-bottom-5 Showcase Your Passion
          %h5 Evrystep lets you create beautiful portfolios to showcase what you do.
          %h5 Find inspiration, meet friends, and get gigs!
      .row.p-top-50
        .col-med-4.col-med-offset-4.col-sm-8.col-sm-offset-2.p-bottom-60
          %button.btn.btn-primary.btn-large sign up with google
.bgc-lt-gray  
  .container.ta-center
    .row
      .col-sm-12.hidden-xs
        %ul.list-inline.p-y-15
          %li
            %h5
              %a Performing Arts
          %li.divider
          %li
            %h5
              %a Sports
          %li.divider
          %li
            %h5
              %a Fashion &amp; Beauty
          %li.divider
          %li
            %h5
              %a Health &amp; Fitness
          %li.divider
          %li
            %h5
              %a Art

