.hero-image.landing
  .hero
    = render 'shared/nav'
    .container.hero-content
      .row
        .col-xs-12.c-white
          %h1.hero-text.p-bottom-5 Showcase Your Passion
          %h5 Evrystep lets you create beautiful portfolios to showcase what you do.
          %h5 Find inspiration, meet friends, and get gigs!
      .row.p-top-50
        .col-med-4.col-med-offset-4.col-sm-8.col-sm-offset-2.p-bottom-60
          %button.btn.btn-primary.btn-large sign up with google
= render 'shared/tag_nav'
.container.cont-padding
  = render 'shared/featured_reels'
%hr.p-y-40
= render 'shared/how_it_works'
