 <head>
  <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "landing" %>
 </head>

<div class="motto container">
  <div class="motto-heading">
    What do you rep <br> on evrystep?
  </div>
  <div class="motto-content">  
    We’re on a mission to energize the world through creative and athletic diversity.
    Do you dance, board, emcee, or do other awesome things? Challenge yourself and empower others by repping what you do on evrystep.
  </div>
  <!--<div>
    <%#= render "shared/email_contact_form" %>
  </div>-->
  <div class="centered-button">
    <%= button_to "Sign up", new_user_registration_path, :method => "get", :class => 'btn btn-danger btn-lg' %>
  </div>

</div>

