.hero-image{style: "background-image: url(#{image_path("evrystep_hero_opt.jpg")});"}
  .hero
    = render 'shared/nav'
    .row
      .col-lg-12.intro-text
        %span.name Showcase your passion
        %span.skills Evrystep lets you create beautiful portfolios to showcase what you do.
        %span.skills Find inspiration, meet friends, and get gigs!
    .row
      .col-med-4.col-med-offset-4.col-sm-8.col-sm-offset-2
        %button sign in with google 

