= render 'shared/nav'
=render :layout => 'shared/form_layout' do
  .row
    .col-xs-12.text-center#new-media
      %h1 Add Media to Reel
      %h5 Add media to showcase what you do.
  .row.p-top-40
    .col-xs-12.col-md-6.col-md-offset-3#reel-select
      %label Select reel:
      %select.select-style.show-tick.selectpicker#media-select
        - @reels.each do |reel|
          - if reel.id.to_s == @params
            %option{:value => "#{reel.id}", :selected => "selected"}= truncate(reel.name, length: 30)
          - else
            %option{:value => "#{reel.id}"}= truncate(reel.name, length: 30)
    .col-xs-12.col-md-6.col-md-offset-3
      %label Select media type:
      %a.select-media.image-link{:href => "/images/new"}
        =image_tag 'select_media_image.png'
        Image
    .col-xs-12.col-md-6.col-md-offset-3
      %a.select-media.video-link{:href => "/videos/new"}
        =image_tag 'select_media_video.png'
        Video
    .col-xs-12.col-md-6.col-md-offset-3
      %a.select-media.story-link{:href => "/stories/new"}
        =image_tag 'select_media_story.png'
        Story
