<div class="container-917 user-projects-empty">
  <p class="h4 user-projects-empty-text"> Be the first to create a project for <%= "#{@interest.name}" %>. </p>
  <div class="centered-button">
    <%= render "shared/create_project_button" %>
  </div>
</div>