.container.p-y-60
  .row
    .col-sm-12.col-md-3
      %h1 Icons
    .col-sm-12.col-md-9
      .row
        .col-sm-12
          %h4.text-uppercase.c-red Custom Icons
      .row.m-top-40
        .col-sm-12
          %h4.text-uppercase.c-red Social Icons