.container.p-y-60
  .row
    .col-sm-12.col-md-3
      %h1 Type
    .col-sm-12.col-md-9
      .row
        .col-sm-12
          %h4.uppercase.c-red Header Font Family
      .row
        .col-sm-12
          %h1 Museo Sans
      .row
        .col-sm-12
          %h2 ABCDEFGHIJKLMNOPQRSTUVWXYZ
      .row
        .col-sm-12
          %h2 abcdefghijklmnopqrstuvwxyz
      .row
        .col-sm-12
          %h2 0123456789
      .row.m-top-40
        .col-sm-12
          %h4.uppercase.c-red Base Font Family
      .row
        .col-sm-12
          %h1.base-font Open Sans
      .row
        .col-sm-12
          %h2.base-font ABCDEFGHIJKLMNOPQRSTUVWXYZ
      .row
        .col-sm-12
          %h2.base-font abcdefghijklmnopqrstuvwxyz
      .row
        .col-sm-12
          %h2.base-font 0123456789
