.bgc-turq.p-y-20
  .container
    .row
      .col-sm-12
        .d-inline-block.m-right-10= image_tag 'evrystep_logo.svg', width: "150px;"
        %h4.c-white.d-inline-block.uppercase 
          %span.m-right-10 &#47; 
          Style Guide
= render 'colors'
