.bgc-turq.p-y-20
  .container
    .row
      .col-sm-12
        .d-inline-block.m-right-10= image_tag 'evrystep_logo.svg', width: "150px;"
        %h4.c-white.d-inline-block.text-uppercase
          %span.m-right-10 &#47; 
          Style Guide
- sections = ["colors", "shadows", "typography", "buttons", "iconography", "forms", "tables", "box-model", "carousels"]
- sections.each do |section|
  = render section
  - if section != sections[-1]
    = render 'divider'
