.cover {
  background-image: url("cover-bg.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: right;

  background-color: lighten($lt-turq, 40);;
}

.cover-bg {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.cover-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 600px;
  @include drop-shadow-2;
}

.cover-logo {
  height: 50px;
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("Evrystep_logo_only.png");
  background-size: 100px auto;
  background-repeat: no-repeat;
  z-index: 1;
}

.cover-cta {
  left: 50%;
  transform: translate(-50%, -350%);
  position: absolute;
}

.cover-carousel {
  .slick-prev {
    left: 5px;
    &:before {
      color: white;
      opacity: 1;
    }
  }
  .slick-next {
    right: 5px;
    &:before {
      color: white;
      opacity: 1;
    }
  }
  .slick-slide {
    height: 300px;
  }
}

.cover-carousel-header {
  height: 100%;
  width: 100%;
  color: white;
  padding: 80px 30px;
  h2 {
    color: white;
  }
}

.cover-carousel-slide-1 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("cover-carousel-JT.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.cover-carousel-slide-2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("cover-carousel-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.cover-carousel-slide-3 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("cover-carousel-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-carousel-slide-4 {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("cover-carousel-4.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.bottom-jumbotron-cta-cover {
  background-image: url("starry-bg-transp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF5F1;
  .teaser {
    margin-left: 65px;
    background-size: 160px;
    margin-top: 20px;
    padding: 40px 24px 50px;
    text-align: left;
    height: 150px;
    .fa {
      padding-left: 35.5px;
    }
  }
}

@media (max-width: 582px) {
  .cover-overlay {
    width: 90%;
  }
  .cover-cta {
    transform: translate(-50%, -430%);
  }
}
