.edit-grid {
  padding: 30px 200px;
  background: #fff;
  text-align: center;

  li {
    float: left;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    padding-left: 0;
    vertical-align: top;

    .edit-item {
      padding-top: 10%;
      height: 100%;
      background-color: lighten($lt-gray, 40);
      @include background-image;
      @include border-radius(10px);
    }
  }

  li:hover {
    cursor: url(move_arrows.png), auto;
  }
}

.sortable-placeholder {
  height: 100px;
  width: 350px;
  border: dashed 2px $med-gray;
  @include border-radius(10px);
}

@media (max-width: 991px) {
  .edit-grid {
    padding: 30px 10px;
    li {
      .edit-item {
        padding-top: 10%;
      }
    }
  }
}

@media (max-width: 769px) {

  .sortable-placeholder {
    padding: 22% 0;
  }
}

@media (max-width: 400px) {
  .edit-grid {
    li {
      width: 100%;
      height: 100px;
    }
  }
}
