.featured-video-container {
  margin-bottom: 20px;
  box-sizing: content-box;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    width: 80%;
    margin: 0 auto;
  }

  iframe {
    height: 350px;
    width: 60%;
    margin: 20px auto;
    display: block;
  }
}

.featured-caption {
  padding: 0px 20px;
}

.featured-profile-tag {
  @extend %base-featured-tag;
  margin-left: 143px;
}

.glyphicon.glyphicon-star {
  color: $red;
  vertical-align: middle;
}

@media (max-width: 990px) {
  .featured-profile-tag{
    margin-left: 45%;
  }
}

@media (max-width: 900px) {
  .featured-profile-tag{
    margin-left: 47%;
  }
}

@media (max-width: 767px) {
  .featured-profile-tag{
    margin-left: 22.5%;
  }
}

@media (max-width: 650px) {
  .featured-profile-tag{
    margin-left: 46%;
  }
}

@media (max-width: 585px) {
  .profile-featured-tag {
    float: none !important;
    position: relative;
    margin-bottom: 10px;
  }
  .featured-profile-tag{
    margin-left: 45.5%;
  }
}

@media (max-width: 500px) {
  .featured-profile-tag{
    margin-left: 44.5%;
  }
}

@media (max-width: 400px) {
  .featured-video-container{
    iframe {
      width: 90%;
    }
  }
  .featured-profile-tag{
    margin-left: 43%;
  }
}
