.featured-event {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(Evrystep_Battle_Cover.jpg);
  text-align: center;
  position: relative;

  .overlay {
    padding: 75px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .title {
    color: #fff;
  }

  .info {
    width: 500px;
    display: block;
    margin: 30px auto;

  }

  .btn {
    width: 300px;
    border-width: 3px;
    font-size: 20px;
  }
}

%featured-banner-wings {
  content: "";
  position: absolute;
  background-color: $lt-red;
  margin-top: 5px;
  height: 20px;
  width: 20px;
  z-index:-1;
}

.featured-tag {
  background-image: url("featured-banner.png");
  background-size: cover;
  position:absolute;
  padding: 22px 27px;
  //background-color: darken($red, 5%);
  color: $white;
  margin: 127px -105px;
  background: transparent url("featured-banner.png") no-repeat scroll center center / 132px auto;
  width: 116px;
  // &:before{
  //   @extend %featured-banner-wings;
  //   margin-left: -20px;
  // }
  // &:after{
  //   @extend %featured-banner-wings;
  // }
}

@media (max-width: 768px) {
  .featured-event {
    .info {
      width: 300px;
    }
  }
}
