.grid-container {
  width: 1140px;
  margin: 0 auto;
}

.featured-video-container:hover .media-edit {
  display: block;
}

.grid {
  background: #fff;
  padding: 20px 0;
  min-height: 360px;
  @include border-radius(4px);
  @include box-shadow(0px, 1px, 2px, 1px, rgba(0,0,0,0.22));

  ul.grid-list {
    padding-left: 30px;
    list-style-type: none;
    text-align: left;
  }

  li.media{
    vertical-align: top;
    margin: 0 15px 20px 0;
    padding: 0;
    position: relative;
  }

  img, iframe {
    width: 100%;
  }

  .caption {
    padding: 10px 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.4);
  }
}

.grid-item {
  overflow: hidden;
  @include border-radius(10px);
  border-bottom: 1px solid $med-gray;
}

.grid-item-body {
  position: relative;
  height: 273px;
  width: 350px;
  text-align: center;
  @include background-image;

  img.icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 47%;
  }
}

.new-grid-item {
  padding: 115px 0;
  position: relative;
  height: 300px;
  width: 350px;
  text-align: center;
  border: dashed 2px $med-gray;
  @include border-radius(10px);

  h4 {
    color: $lt-turq;
    margin-top: 10px;
  }
}

.new-grid-item:hover {
  border-color: $lt-turq;
}

.grid-item-footer {
  border-left: 1px solid $med-gray;
  border-right: 1px solid $med-gray;
  background: #fff; 
}

.grid-actions {
  text-align: center;

  .action-props {
    background-image: url(props_icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 13px;
    vertical-align: middle;
    display: inline-block;
  }

  .action-props.active {
    background-image: url(props_icon_turq.png);
  }
  
  img {
    width: 25px;
  } 
}

#share-modal {
  text-align: center;

  .social-list {
    margin: 15px 0;

    li {
      margin-right: 20px;
    }
  }
}

span.votes-count {
  vertical-align: middle;
}

@media (max-width: 1140px) {
  .grid-container {
    width: 770px;
  }
}

@media (max-width: 767px) {
  .grid-container {
    width: 100%;

    ul {
      padding: 0;
    }
  }
}

@media (max-width: 729px) {
  .grid ul li.media {
    padding: 0 !important;
    margin: 0 0 20px;
    float: none;

  }
  
  .grid-item-body, .new-grid-item {
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 635px) {
  .grid {
    ul.grid-list {
      text-align: center;
    }
  }
}