.grid-container {
  width: 1140px;
  margin: 0 auto;
}

.grid {
  background: #fff;
  padding: 20px 0;
  min-height: 360px;
  @include border-radius(4px);
  @include box-shadow(0px, 1px, 2px, 1px, rgba(0,0,0,0.22));

  ul {
    padding-left: 30px;
    list-style-type: none;
  }

  li {
    vertical-align: top;
    margin: 0 15px 20px 0;
    padding: 0;
    float: left;
  }

  img, iframe {
    width: 100%;
  }

  .caption {
    padding: 5px 30px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.4);
  }
}

.grid-item {
  padding-top: 260px;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 350px;
  text-align: center;
  @include background-image;
  @include border-radius(10px);

  img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 47%;
  }
}

.new-grid-item {
  padding: 115px 0;
  position: relative;
  height: 300px;
  width: 350px;
  text-align: center;
  border: dashed 2px $med-gray;
  @include border-radius(10px);

  h4 {
    color: $lt-turq;
    margin-top: 10px;
  }
}

.new-grid-item:hover {
  border-color: $lt-turq;
}

.sortable-placeholder {
  height: 300px;
  width: 350px;
  border: dashed 2px $med-gray;
  @include border-radius(10px);
}

@media (max-width: 1140px) {
  .grid-container {
    width: 770px;
  }
}

@media (max-width: 767px) {
  .grid-container {
    width: 100%;

    ul {
      padding: 0;
    }
  }
}

@media (max-width: 729px) {
  .grid ul li {
    padding: 0 !important;
    float: none;

  }
  
  .grid-item, .new-grid-item {
    width: 300px;
    margin: 0 auto;
  }
}