.page-hero {
  height: 475px;

  .page-info {
    margin: 0 auto;
    color: #fff;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;   
  }

  .avatar {
    border-radius: 80px;
    border: solid #fff 2px;
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 8px;
  }

  .avatar, .info {
    display: inline-block;
  }
}

.hero-image {
  width: 100%;
  position: relative;
  background-size: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

.fixed {
  background-attachment: fixed;
  overflow: hidden;
}

.hero {
  background-color: rgba(0, 0, 0, 0.38);
}

.hero-content {
  padding: 60px 20px;
  text-align: center;
}

.landing {
  background-image: url(evrystep_landing_hero.jpg);
}

.about {
  background-color: $turq;
  background-image: url(large_logo.png);
}

.hero-text { font-size: 3rem; }

@media (min-width:768px) {
  .hero-text { font-size: 4.5rem; }
  .hero-content { padding: 100px 0px; }
}

@media (max-width: 400px) {
  .hero {

    input {
      width: 85%;
      margin: 5px 0;
    }

    .hero-text {
      font-size: 2rem;
    }
  }
}