.hero-image {
  width: 100%;
  position: relative;
  background-size: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

.fixed {
  background-attachment: fixed;
  overflow: hidden;
}

.hero {
  background-color: rgba(0, 0, 0, 0.50);
}

.landing {
  background-image: url(evrystep_landing_hero.jpg);
}

.about {
  background-color: $turq;
  background-image: url(large_logo.png);
}