.light-gallery #lg-outer {
  background: rgba(0,0,0,.8);
}

#lg-outer #lg-gallery .thumb-cont .thumb > img {
  height: 100%; 
  width: 100%;
}

#lg-outer #lg-gallery .thumb-cont .thumb:nth-child(1) {
  display: none !important;
}

#lg-gallery #lg-slider .lg-slide img {
  min-width: 400px;
  max-width: 80%;
}

#lg-gallery .custom-html {
  top: initial;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  white-space: pre-wrap;
  text-align: center;
  background: none;
}

#lg-gallery #lg-action {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-left: 0;
}

#lg-next {
  float: right;
}

#lg-gallery .cl-thumb {
  display: none !important;
}

@media (max-width: 400px) {

  #lg-slider .lg-slide img {
    min-width: 300px;
    max-width: 300px;
  } 

  #lg-gallery .custom-html {
    width: 300px;
  }
}
