#popup {
  display: inline-block;
  text-align: left;
}

#popup img {
  display: block;
  min-width: 400px;
  margin-bottom: 10px;
}

#popup p {
  float: left;
  display: block;
  color: #fff;
  position: relative;
}

#popup .media-edit {
  display: none;
  color: #fff;
  position: relative;
  right: 0;
  top: 0;
  float: right;
}

.mfp-container .mfp-content {
  text-align: center;
}

button.mfp-close:hover {
  cursor: pointer !important;
}

@media (max-width: 400px) {

  #popup {
    .media-edit {
      display: block;
    }

    img {
      min-width: 300px;
    }
  }
}