// Place all the styles related to the Reels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preloader {
  display: none;
}

.reel-page {

  .edit-reel {
    position: absolute;
    right: 0;
    top: 0;
  }

  .reel-grid {
    padding: 20px 0;
    -webkit-box-shadow: 1px 0px 1px 1px rgba(223,223,223,1);
    -moz-box-shadow: 1px 0px 1px 1px rgba(223,223,223,1);
    box-shadow: 1px 0px 1px 1px rgba(223,223,223,1);

    img, iframe {
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .reel-page {
    .edit-reel {
      position: relative;
      width: 100%;
      padding: 10px 0;
      margin: 20px 0;
    }
  }
}
