.reel-page {
  margin-top: 50px;
  .reel-header-container {
    padding: 0 50px 10px;
    margin-bottom: 0;
    background-color: lighten($lt-gray, 50%);
    .hero {
      height: auto;
    }
  }
  .reel-artist-name{
    color: $lt-gray;
    display: block;
    word-wrap: break-word;
    span {
      word-wrap: break-word;
    }
    a{
      color: darken($lt-gray, 10%);
      &:hover {
        color: $turq;
      }
    }
  }
  .hero {
    height: 150px;
    color: $gray;
    padding: 17px 0px 0 10px;
    background-color: transparent;
    a.explore {
      text-decoration: underline;
      color: $drk-gray;
    }
    .reel-top-header{
      color: $lt-gray;
      .list-inline{
        display: inline;
        li.interest-tags {
          a {
            color: $lt-gray;
          }
        }
      }
    }
    .reel-name-header{
      font-weight: bold;
      color: $drk-gray;
      a {
        vertical-align: middle;
        padding: 2px 10px;
        @include border-radius(10px);
        font-family: $base-font-family;
        color: lighten($lt-red, 10%);
        font-size: $base-font-size;
        &:hover {
          color: $white;
          background-color: $red;
        }
      }
    }
    .reel-description {
      line-height: $base-line-height*1.5;
      color: $lt-gray;
      margin-bottom: 0;
    }
  }
  .interests {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: $base-font-size;
    color: $white;
    .interest-tags{
      cursor: pointer;
      color: $white;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 20px;
      background-color: #9CB4EF;
      a {
        color: $white;
      }
    }
  }
  .avatar-container {
    padding-left: 0;
    margin-left: -10px;
    background: url("profile-image-border.png") no-repeat;
    background-size: 106px;
    background-position: -2px 5px;
  }
  .share-button-mobile {
    display: none;
  }
  .avatar {
    height: 90px;
    width: 90px;
    margin: 10px 0 10px 5px;
    display: inline-block !important;
    vertical-align: middle;
    @include background-image;
    @include border-radius(100%);
  }

  .link-bar {
    border-top: solid $lt-gray 1px;
    padding: 5px 0;
    position: relative;
    @include box-shadow(0px, 1px, 2px, 1px, rgba(0,0,0,0.22));

    .user {
      padding: 0;
    }

    .edit, .links {
      text-align: right;

      span {
        vertical-align: middle;
      }
    }

    h5 {
      display: inline;
      vertical-align: middle;
    }

    .share, .twitter-share-button {
      text-align: right;
      vertical-align: middle;
      margin: 10px 0;
    }
  }

  .edit-reel {
    padding: 5px 20px;
    margin-top: 2px;
    @include border-radius(20px);
  }
}

.edit-block {
  display: inline-block;
}

#links {
  margin-top: 48px;
  margin-left: 18px;
  transition: transform 0.3 ease;
  position: absolute;
}

.link-item-mobile {
  margin: -90px 36%;
  position: absolute;
  z-index: -1;
}

.share-button {
  margin-top: 0px;
  margin-left: 18px;
  display: inline-block;
  width: 40%;
  height: 120px;
  color: $white;
  font-size: $base-font-size;
  transition: all 0.1s ease;
  a{
    color: white;
  }
  .share-line{
    background-color: $lt-turq;
    height: 5px;
    width: 610px;
    position: absolute;
    margin-top: 57px;
    margin-left: -600px;
    transition: all 0.1s ease;
  }
  .share-triangle {
    position: absolute;
    margin-top: 50px;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $lt-turq;
    z-index: 1;
    transition: all 0.1s ease;
  }
  .share-circle {
    cursor: pointer;
    position: absolute;
    margin-left: -10px;
    margin-top: 20px;
    background-color: $lt-turq;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: $base-font-size;
    @include border-radius(100%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.1s ease;
  }
}

.reel-sticky-cta-bg {
  background-color: white;
  transition: all 0.1s ease;
}

.stick {
  position: fixed;
  min-height: 50px;
  top: 50px;
  width: 100%;
  z-index: 2;
  border-bottom: solid #e6e6e6 1px;
  .share-button {
    height: 50px;
    margin-top: -16px;
    .share-line {
      margin-top: 37px;
    }
    .share-triangle {
      margin-top: 30px;
      margin-left: 0;
    }
    .share-circle {
      margin-left: 7px;
      margin-top: 18px;
      height: 45px;
      width: 45px;
      line-height: 44px;
      font-size: 12px;
      .fa {
        display: none;
      }
    }
  }
  .reel-view-options {
    height: 50px;
    padding-top: 7px;
    li {
      height: 43px;
      .fa {
        font-size: 20px;
      }
    }
    .add-credit-button {
      cursor: pointer;
      display: inline-block;
      .fa {
        font-size: 15px;
      }
    }
  }
  #links {
    margin-top: 5px;
    margin-left: 15px;
    overflow: hidden;
    height: 10px;
  }

  .link-item {
    display: block;
    padding: 10px 0;
  }
}

.reel-view-options {
  display: inline-block;
  vertical-align: top;
  padding-top: 40px;
  transition: all 0.1s ease;
  li {
    min-width: 60px;
    text-align: center;
    z-index: 5;
    &:first-child {
      padding-left: 6px;
    }
  }
  .fa {
    font-size: 30px;
    transition: all 0.1s ease;
  }
  .fa, p {
    cursor: pointer;
  }
  .add-credit-button {
    cursor: pointer;
    .fa {
      font-size: 15px;
    }
  }
}

.reel-credit-list-dropdown {
  margin-top: -3px;
  background-color: white;
  padding: 30px;
  border: solid lighten($lt-gray, 20%) 1px;
  min-width: 300px;
  font-size: $base-font-size;
  max-height: 70vh;
  overflow-y: scroll;
}

.reel-credit-list {
  position: fixed;
  z-index: 3;
  height: 100%;
  top: 0;
  right: 0;
  list-style: none;
  background-color: white;
  padding: 30px;
  border-left: solid #e6e6e6 1px;
  border-bottom: solid #e6e6e6 1px;
  width: 300px;
  font-size: $base-font-size;
  max-height: 100vh;
  overflow-y: scroll;
  transition: all 0.1s ease;
  hr {
    margin-top: 8px;
  }
}

.reel-credit-list-min {
  height: 100px;
  overflow: hidden;
}

.reel-credit-header {
  margin-top: 40px;
  user-select: none;
  cursor: pointer;
  &:hover {
    color: $turq;
  }
}

.add-credit-button {
  margin-left: 45px;
  background-color: $turq;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: lighten($lt-turq, 10%);
  }
  &:active {
    background-color: darken($turq, 10%);
  }
  a {
    color: white;
  }
}

li.reel-credit-item {
  margin: 30px 0;
  text-align: left;
  clear: both;
  &:first-child {
    margin: 0 0 30px 0;
  }
}

.credit-delete{
  float: right;
  margin-top: 4px;
}

.credit-avatar {
  height: 20px;
  width: 20px;
  float: left;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  margin: 0 10px 0 0;
  border: solid lighten($lt-gray, 10%) 1px;
}

.reel-credit-pending {
  color: lighten($lt-gray, 10%);
  a {
    color: lighten($lt-gray, 10%);
    &:hover {
      color: $lt-turq;
    }
  }
}

.reel-credit-role {
  border-bottom: solid lighten($lt-gray, 20%) 1px;
}

#credit-button-drop {
  cursor: pointer;
  margin-top: 5px;
}

#add-credit-modal {
  .modal-dialog {
    width: 400px;
    margin: 50px auto;
  }
  .btn-default {
    width: 100%;
    padding: 10px;
  }
}

.reel-page-explore {
  background-image: url(polybg-purp.png);
  background-size: cover;
}

.reel-page-landing {
  background-image: url(polybg-orange.png);
  background-size: cover;
}

.reel {
  background: #e9e9e9;
  min-height: 645px;
  padding: 40px 0;
}

.featured-reel-tag {
  margin: 15px 0;
  .featured-tag {
    position: inherit;
    width: 120px;
    margin: 20px -5px;
    padding: 24px 30px;
  }
}

.views {
  text-align: center;
  margin-top: 10px 0;
  padding-left: 50px;
}

.credit-invitation-container {
  position: fixed;
  right: 40px;
  bottom: 0;
  height: 375px;
  width: 400px;
  background-color: white;
  z-index: 4;
  border: solid $lt-gray 1px;
}

.credit-invitation-header {
  background-color: lighten($lt-turq, 25);
  color: $drk-gray;
  padding: 10px 20px;
  .btn {
    margin: 0 10px;
  }
  .fa {
    font-size: $base-font-size*2.1;
    color: white;
    cursor: pointer;
  }
}

.credit-invitation-body{
  margin: 10px 0 0 0;
  text-align: center;
  padding: 20px;
  p {
    margin: 30px;
  }
}

.credit-invitation-role {
  padding: 30px;
  margin-top: -20px;
  background-image: url("starry-bg.jpg");
  background-size: 265px 155px;
  background-position: center;
  background-repeat: no-repeat;
}

.credit-invitation-footer {
  margin-top: 0;
  text-decoration: underline;
  color: $turq;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .views {
    padding-left: 35px;
  }
}

@media (max-width: 991px) {
  .reel-page {
    .avatar-container {
      padding-left: 0;
      background-position: -2px 5px;
      .share-button {
        margin-left: 10px;
        .share-line {
          left: -20px;
        }
      }
    }
    .link-bar, .link-bar .links {
      text-align: center;
      .views {
        margin-top: 15px;
        float: none;
        display: inline-block;
        padding-left: 15px;
      }

      .share {
        margin: 0 15px;
      }

      .links {
        display: block;
      }

      .edit {
        text-align: center;
        margin: 10px 0;
      }
    }
  }
  .reel-credit-list {
    max-width: 235px;
  }
  .add-credit-button {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .reel-page {
    .hero {
      .reel-name-header{
        text-align: center;
      }
    }
    .reel-top-header {
      text-align: center;
    }
    .reel-artist-name, .share-button {
      display: none;
    }
    .reel-credit-list {
      min-width: 80vw;
    }
    .reel-view-options {
      padding-top: 10px;
    }
    .share-button-mobile {
      display: block;
      margin: 0 0 0 45%;
      height: 120px;
      color: $white;
      font-size: $base-font-size;
      transition: all 0.1s ease;
      a {
        color: white;
      }
      .share-line{
        background-color: $lt-turq;
        height: 2.5px;
        width: 610px;
        position: absolute;
        margin-top: 59px;
        margin-left: -600px;
        transition: all 0.1s ease;
      }
      .share-triangle {
        position: absolute;
        margin-top: 50px;
        margin-left: -16px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right:10px solid $lt-turq;
        z-index: 1;
        transition: all 0.1s ease;
      }
      .share-circle {
        cursor: pointer;
        position: absolute;
        margin-left: -10px;
        margin-top: 20px;
        background-color: $lt-turq;
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: $base-font-size;
        @include border-radius(100%);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
        transition: all 0.1s ease;
        &:active{
          box-shadow: none;
        }
      }
      .share-line {
        left: 80%;
        width: 820px
      }
      .share-triangle-right {
        position: absolute;
        margin-top: 50px;
        margin-left: 68px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left:10px solid $lt-turq;
        z-index: 1;
      }
    }
    .avatar-container {
      display: none;
    }
  }
  .credit-invitation-container {
    width: 360px;
    right: 10px;
  }
  .media-engagement-icon {
    a {
      display: inline-block;
    }
  }
}

@media (max-width: 450px) {

  .reel-page {
    .reel-header-container {
      padding: 0 0 10px;
    }
    .share-button-mobile {
      margin-left: 39%;
    }
    .hero {
      .container {
        width: 100%;
      }
    }
    .edit-reel {
      position: relative;
      width: 100%;
      padding: 10px 0;
      margin: 20px 0;
    }
  }
  .credit-invitation-container {
    width: 100%;
    right: 0;
  }
}

.btn-primary {
  a {
    color: white;
  }
}
