.teaser {
  padding: 10px 40px;
  background: #fff;
  border: 1px solid transparent;
  margin-bottom: 30px;
  overflow: hidden;
  color: $drk-gray;
  @include box-shadow(0px, 1px, 2px, 1px, rgba(0,0,0,0.22));
  @include border-radius(3px);

  h1, p {
    color: #000;
  }

  ul {
    margin: 6px 0;

    li:nth-child(4) {
      margin: 0;
    }

  }

  ul.media-list {
    min-height: 150px;
  }

  .interests {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: $base-font-size * 0.9375;
    color: $med-gray;
  }

  li.teaser-media {
    width: 207px;
    height: 150px;
    margin-right: 10px;
    @include background-image;
    @include border-radius(10px);
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 11px;
    border-color: transparent transparent transparent $lt-turq;
    margin-top: 2px;
  }

  .view-all {
    color: $lt-turq;
    margin-right: 10px;
    font-size: 14px;
  }
}

.teaser.bio {
  min-height: 300px;
}

.teaser:hover {
  border: 1px solid $lt-turq;
}

.teaser.new-reel {
  border: dashed $med-gray 2px;
  text-align: center;
  padding: 30px 0;

  img {
    margin-bottom: 10px;
  }
}

.teaser.new-reel:hover {
  border-color: $lt-turq;
}

@media (max-width: 990px) {

  .teaser {
    li.teaser-media {
      width: 300px;
      height: 250px;
      margin-right: 6px;
    }
  }
}

@media (max-width: 400px) {
  .teaser {
    padding: 10px 0px;
    text-align: center;

    li.teaser-media {
      margin: 0;
    }
  }
}