.tabs {
  .edit-profile {
    float: right;
    padding: 5px 20px;
    margin-top: -25px;
    margin-left: 10px;
  }

  .create-reel {
    float: right;
    padding: 5px 20px;
    margin-top: -25px;
    //margin-left: 10px;
  }

  .select-style {
    float: right;
    width: 150px;
    margin-top: -20px;
  }
}

.teaser.bio:hover {
  border: solid 1px transparent;
}

@media (max-width: 650px) {
  .tabs .edit-profile {
    float: none;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .tabs {
    .edit-profile {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
}