.profile {

  .hero {
    height: 475px;
  
    .user {
      margin: 0 auto;
      color: #fff;
      bottom: 0;
      position: absolute;
      text-align: center;
      padding-left: 39%;
      padding-bottom: 30px;   
    }

    .avatar {
      border-radius: 80px;
      border: solid #fff 2px;
      height: 80px;
      width: 80px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 8px;
    }

    .avatar, .info {
      display: inline-block;
    }
  }

  .tabs {
    padding: 15px 0;
    text-align: center;
    height: 50px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.22);
  }

  .profile-content {
    background: #e9e9e9;
    padding: 30px 0;

    .content-container {
      width: 956px;
      margin: 0 auto;
    }
  }

  .teaser {
  	padding: 10px 40px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
  	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
  	-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
    margin-bottom: 30px;
    overflow: hidden;
    color: $drk-gray;

    h1, p {
      color: #000;
    }

    ul {
      margin: 6px 0;

      li:nth-child(4) {
        margin: 0;
      }

    }

    .interests {
      margin-top: 4px;
      margin-bottom: 0px;
      font-size: $base-font-size * 0.9375;
      color: $med-gray;
    }

    li.teaser-media {
      width: 200px;
      height: 150px;
      margin-right: 12px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 10px;
    }
  }
}
