<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This is a test mailer!</h1>
    <%= link_to "Claim your Account!", "http://localhost:3000/auth/google_oauth2?claim_token=#{@token}" %>
  </body>
</html>