.c-white    { color: $white; }
.c-red      { color: $red; }
.c-turq     { color: $turq; }
.c-lt-turq  { color: $lt-turq; }
.c-drk-gray { color: $drk-gray; }
.c-gray     { color: $gray; }
.c-lt-gray  { color: $lt-gray; }

.bgc-white    { background-color: $white; }
.bgc-red      { background-color: $red; }
.bgc-turq     { background-color: $turq; }
.bgc-lt-turq  { background-color: $lt-turq; }
.bgc-drk-gray { background-color: $drk-gray; }
.bgc-gray     { background-color: $gray; }
.bgc-lt-gray  { background-color: $lt-gray; }