.ta-center { text-align: center; }
.ta-right  { text-align: right; }

.d-inline       { display: inline; }
.d-inline-block { display: inline-block; }
.d-block        { display: block; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.list-inline > .divider {
  &:after{
    color: $gray;
    content: '\2758';
  }
}

ul.list-inline > li.active > a {
  color: $drk-gray;
  cursor: default;
}

.quote {
  font-family: $base-font-family;
  font-style: italic;
}
