.ta-center { text-align: center; }
.ta-right  { text-align: right; }

.list-inline > .divider {
  &:after{
    color: $gray;
    content: '\2758';
  }
}

.hero-text {
  font-size: 4.5rem;
}

ul.list-inline > li.active > a {
  color: $drk-gray;
  cursor: default;
}
