<!-- Heading -->
<%= render "shared/interest_heading" %>

<!-- Menubar -->
<%= render "shared/interest_menubar" %>

<!-- Add sanitizer? http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-simple_format -->
<div class="container">
  <%= simple_format(@interest.history) %>
</div>