<!-- Heading -->
<%= render "shared/heading" %>

<!-- Menubar -->
<%= render "interest_menubar" %>

<!-- About -->
<!-- Add sanitizer? http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-simple_format -->
<div class="container">
  <%= simple_format(@interest.history) %>
</div>