#masonry-container {
  margin: 0 auto;
}

.thumbnail {
  margin: 8px;
  width: 295px;
  float: left;
  padding: 0;
  border: none;
}

.thumbnail .caption, .thumbnail .caption a {
  background: #D26; //waacking
  //background: #00B2EE; popping
  //background: #9B30FF; locking
  //background: #2B3856; //hip hop choreo
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
}

#tags a, #user-data, #user-data a {
  color: lightgray;
  font-size: 13px;
  font-weight: normal; 
}

#tags a {
  font-style: italic; 
}

.smallsize {
  width: 150px;
}

.fullsize {
  width: 500px;
}