@import url(http://fonts.googleapis.com/css?family=Oxygen:700);
@import url(http://fonts.googleapis.com/css?family=Cabin:500italic);

#masonry-container {
  margin: 0 auto;
  background: white;
  padding: 5px;
}

.thumbnail {
  margin: 5px;
  width: 295px;
  float: left;
  padding: 0;
  border: 1px black;
  text-align: center;
  //box-shadow: 0px 1px 2px #d9d9d9;
}

.thumbnail .caption, .thumbnail .caption a {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.3em;
  //font-weight: 500;
  //background: #f8f8f8;
  background: #f8f7f5;
  //color: #474747;
  color: #292929;
  font-size: 17px;
  //border-radius: 0 0 5px 5px;
}

.thumbnail .caption {
  padding-bottom: 10px;
}

#tags a, #user-data, #user-data a {
  color: #777777;
  //color: #474747;
  font-size: 13px;
  font-weight: normal; 
}

#tags a {
  font-family: 'Cabin', sans-serif;
  font-style: italic; 
}

.thumbnail .caption a:hover,
#tags a:hover,
#user-data a:hover {
  color: #38bdb8;
}

#tags {
  line-height: 1;
}

.smallsize {
  width: 150px;
}

.fullsize {
  width: 500px;
}