// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 color: #2b3a35;
}

.logo-font {
  font-family: Satisfy, sans-serif;
  text-transform: none;
}

header,
section.success {
  background: #13e2db;
}

.btn-danger {
  background: #ff3046;
}

.btn-danger:hover, .btn-danger:focus, 
.btn-danger:active, .btn-danger.active, 
.open>.dropdown-toggle.btn-danger {
  background-color: #ff4458;
  border-color: #ff4458;
}

hr.star-light:after {
  background-color: #13e2db;
}

.heart-icon {
  color: #ff3046;
}

.navbar-default,
footer {
  background-color: #2b3a35;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  color: #13e2db;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #13e2db;
}