@import url(http://fonts.googleapis.com/css?family=Oxygen:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

.create-proj-button {
  color: white;
}

.nav-pills {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.nav-pills > li > a {
  color: white;
}

.nav-pills > li > a:hover {
  color: #1cd9d2;
  background: black;
}

.project-heading,
.project-subheading,
.project-heading a,
.project-heading a:hover {
  font-family: 'Oxygen', sans-serif;
  //color: #292929;
  color: white;
  //font-weight: 300;
  font-size: 40px;
  text-decoration: none;
  //text-align: center;
  padding-top: 0px;
  padding-left: 20px;
}

.project-subheading,
.project-subheading a {
  font-family: 'Cabin', sans-serif;
  //font-weight: 400;
  font-size: 20px;
  color: white;
  //color: gray;
  //margin-top: -10px;
}
.project-heading {
  //font-family: 'Roboto', sans-serif;
  //color: #292929;
  //font-size: 45px;
  //text-align: center;
  //padding-top: 0px;
}

.project-subheading {
  //font-family: 'Cabin', sans-serif;
  //font-weight: 400;
  //font-size: 24px;
  //color: gray;
}

.white-bg {
  //background: white;
  background: #f8f7f5;
  margin-bottom: 15px;
  //margin: 0px;
}

.edit-links-container {
  //padding: 5px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  //padding-right: 0px;
}

.project-cover-container {
  position: absolute;
  margin-top: 90px;
  right: 50%;
  z-index: 1;
}

.project-cover {
  //margin-top: 90px;
  position: relative;
  right: -50%;
  //opacity: 0.9;
  box-shadow: 0px -3px 3px 5px black;
}

.project-container {
  background: black;
  //box-shadow: 0px 0px 1px 1px #d9d9d9;
  padding: 5px;
  //margin-top: 50px; //Figure out why the body margin doesn't apply to this view. Had to add this line for top margin
  margin-bottom: 40px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.selected {
  color: #2a6496;
  background-color: #eee;
}

#project-categories {
  font-size: 16px;
}

.four-grid {
  margin: 2px 3px;
  width: 450px;
}

.project-tags a {
  font-size: 18px;
  color: #f8f7f5;
  font-size: 18px;
  font-weight: normal; 
  font-family: 'Cabin', sans-serif;
  font-style: italic; 
}

.radio-label {
  font-weight: normal;
}

.disabled-input-label {
  color: gray;
}