.statbar {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 10px 70px;
  background: #f0f0f0;
  text-align: center;
}

.user-show-menubar {
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  background: aqua;
  #background: rgb(235,171,33);
}